# Port
PORT=4000

# DATABASE
POSTGRES_HOST=""
POSTGRES_DB=""
POSTGRES_USER=""
ENV=""
POSTGRES_PASSWORD=""

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET =""
JWT_ALGO="RS256"

LOG_LEVEL="silly"